:root {
  --primary-bg: #0a0a0a;
  --secondary-bg: #181818;
  --text-color: #ffffff;
  --accent-color: #7c4dff;
  --card-bg: #222;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000005;
  color: white;
  margin: 0;
  padding: 0;
}